#c11, #c12
{
    width: 150px;
    height: 90px;
    background-color: blueviolet;
    position: absolute;
    top:10px;
    left:10px;
}

#c12
{

    top:120px! important;
 
}

div,section
{
    width: 250px;
    height: 250px;
    border:4px solid red
}

#c2
{
    position: absolute;
    top:350px;
    left:500px;
}

div, section
{
    position: absolute;
    top:100px;
    left:200px;
}

section
{
    position: absolute;
    top:500px;
    left:500px;
}