#c11, #c12
{
    width: 120px;
    height: 120px;
    border: solid blue 4px;
    position: relative;
    float: left;
    margin-left: 20px;
    margin-top: 10px;
}

div,section
{
width: 300px;
height: 250px;
border: 2px solid red;
}

#c2
{
    position: relative;
    left: 320px;
    top: -250px;
}

section
{
    position: relative;
    left: 600px;
    top: -500px;
}