#contenedor
{
width: 2000px;
height:1000px;
background-color: aqua;
position: absolute;
top:10px;
left:10px;
}
 
#superior
{
    width: 1800px;
    height: 250px;
    background-color: blue;
    position: absolute;
    top:20px;
    left:50px;
}
 
#logo
{
    width: 300px;
    height:200px;
    background-color: bisque;
    position: absolute;
    top:20px;
    left: 20px;
}
 
#menu
{
    width: 1420px;
    height:200px;
    background-color: cadetblue;
    position: absolute;
    top:20px;
    left:340px;
}
#cuerpo
{
    width: 1800px;
    height: 700px;
    background-color:green;
    position: absolute;
    top:320px;
    left:50px;
}
#contenido
{
    width: 1700px;
    height: 500px;
    background-color: orange;
    position: absolute;
    top:20px;
    left:50px;
}